<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'C:\Users\gery9\OneDrive\Asztali gép\Szakdoga_Weboldal\Django\main\myapp\static\css\user.css' %}">
        <script src="{% static 'C:\Users\gery9\OneDrive\Asztali gép\Szakdoga_Weboldal\Django\main\myapp\static\js\user.js' %}"></script>
        <title>User Page</title>
    </head>
    <body>
        <div class="container" onclick="openNav()">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="user.html">Kezdőlap</a> 
            <a href="user_services.html">Cafeteria</a>
            <a href="user_about.html">Kapcsolat</a>
            <a href="{% url 'logout' %}">Kijelentkezés</a>
        </div>
        <label class="centered-label" id="név-label">Kedves {{ név }}, be kell adnod a cafeteria tervezetedet eddig a dátumig: - {{ beadási_határidő }}</label>
    </body>
</html>